@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
.cardDashboard{
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}
.containerTitle{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.title{
    font-weight: 700;
    font-size: 24px;
    color: #333333; 
}